@import url(https://fonts.google.com/specimen/Lexend+Deca);

@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);

:root {
  --verylight-gray: hsl(0, 0%, 95%);
  --paragraphs: hsla(0, 0%, 100%, 0.75); 
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  background-color: var(--verylight-gray);
  font-family: 'Lexend', sans-serif;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Containers */

.container {
  width: 300px;
  height: 450px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 40px;
}

.container span, i {
  font-size: 20px;
  color: white;
  margin-left: -5px;
  opacity: 0.6;
}

.fa-circle {
  font-size: 30px;
  margin-left: 3px;
  color: black;
  opacity: 0.2;
}

.container p {
  color: var(--paragraphs);
  line-height: 20px;
  margin-bottom: 90px;
}

.container h1{
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 30px;
}

.containerone {
  background-color: var(--Bright-orange);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.containertwo {
  background-color: var(--Dark-cyan);
}

.containerthree {
  background-color: var(--Very-dark-cyan);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* Containers End */


/* Buttons */

.btn {
  padding: 10px 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

#btn1 {
  color: var(--Bright-orange);
}

#btn2 {
  color: var(--Dark-cyan);
}

#btn3 {
  color: var(--Very-dark-cyan);
}

/* Buttons End*/

/* Media Queries */


@media  (max-width: 812px) {
  .container .text__bottom {
    line-height: 20px;
    margin-bottom: 70px;
  }

}

@media  (max-width: 777px) {
  .container .text__top {
    line-height: 20px;
    margin-bottom: 89px;
  }

}

@media  (max-width: 776px) {
  .container .text__top {
    line-height: 20px;
    margin-bottom: 70px;
  }

}

@media  (max-width: 775px) {
  .container .text__top {
    line-height: 20px;
    margin-bottom: 70px;
  }

}

@media  (max-width: 774px) {
  .container .text__middle {
    line-height: 20px;
    margin-bottom: 70px;
  }

}

@media  (max-width: 707px) {
  .container .text__top {
    line-height: 20px;
    margin-bottom: 52px;
  }

}

@media  (max-width: 760px) {
  .main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container .text__top {
    line-height: 20px;
    margin-bottom: 52px;
  }

  .attribution { font-size: 7px; text-align: center; }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 9px;
  }

  .containerone {
    background-color: var(--Bright-orange);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    margin-top: 20px;
  }
  
  .containerthree {
    background-color: var(--Very-dark-cyan);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
  }

}


/* Media Queries End */













.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
